<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<h1>Admin panel</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    <tbody>
    <tr>
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.name}"></td>
        <td th:utext="${user.age}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.password}"></td>
    </tr>
    </tbody>
</table>
<br><br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
<br>
<button><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></button>
<button><a href="/users">User table</a></button>
</body>
</html>