<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>All users Info</title>
</head>
<body>
<br>
<h1>All users</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    <tbody>
    <tr th:each="user : ${list}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.name}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.roles}"></td>
        <td>
            <button><a th:href="@{/users/admin/edit/{id}(id=${user.id})}">Edit</a></button>
            <form th:action="@{/users/admin/delete/{id}(id=${user.id})}" th:method="delete">
                <input type="submit" value="Delete"/>
            </form>
            <button><a th:href="@{/users/admin/{id}(id=${user.id})}">User_page</a></button>
        </td>
    </tr>
    </tbody>
</table>
<br>
<button><a href="/users/new">Create user</a></button>
<br>
</body>
</html>