
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Creat new user</title>
</head>
<body>
<form action="#" th:action="@{/users}" th:object="${user}" method="POST">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <label for="username">Username(Login)</label>
    <input type="text" th:field="*{username}" id="username" placeholder="username">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <strong><label for="role">Role</label></strong>
    <select multiple class="custom-select w-100"
            size="2" id="role" name="role">
        <option
                th:each="role : ${roles}"
                th:text="${role.getRole()}"
                th:value="${role.role}">
        </option>
    </select>

    <input type="submit" value="Create User">
</form>
</body>
</html>